<h2>Área de Usuarios</h2>
<div class="card__container">
  <div class="card">
    <p class="card__title">Selecciona tipo de usuario</p>
    <button (click)="setGuestdUser()" mat-stroked-button [disabled]="user.type === guestType">Cambiar a invitado</button>
    <button (click)="setRegisteredUser()" mat-stroked-button [disabled]="user.type === registeredType">
      Cambiar a registrado
    </button>
    <div class="userType">
      <p>el usuario activo es de tipo</p>
     <button mat-flat-button>{{ user.type === registeredType ? 'Registrado' : 'Invitado' }}</button>
    </div>
    <nav>
      <a mat-stroked-button [routerLink]="'public'">Ir a sección pública</a>
      <a mat-stroked-button [routerLink]="'private'">Ir a sección privada</a>
    </nav>
  </div>
    <router-outlet></router-outlet>
</div>
