<header class="header">
  <h1>ZH Tech Test</h1>
</header>
<mat-sidenav-container class="main-container">
  <mat-sidenav class="left-content" mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem"><a [routerLink]="['/tests/1']" [routerLinkActive]="'active'">Test 1</a></mat-list-item>
      <mat-list-item role="listitem"><a [routerLink]="['/tests/2']" [routerLinkActive]="'active'">Test 2</a></mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>