header {
    height: 56px;

    .logo-img {
        width: 120px;
        height: auto;
    }
}

.main-container {
    position: relative;
    z-index: 1;
    display: block;
    height: calc(100% - 56px);
    overflow: auto;

    h2 {
        font-size: 1.2rem;
    }

    .left-content {
        width: 240px;
        border-right: 1px solid #eee;
        border-radius: 0;
        padding: 16px 8px;

        .menu {
            .active,
            >a:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

        }
    }

    .main-content {
        /*   background: #181818; */
        padding: 20px 50px;
    }
}